@page "/colors/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Color</h3>
<hr />
<br />

<FormComponent ButtonText="Create Color" OnValidSubmit="@CreateColor" color="color" />

@code{
    Color color = new Color();

    private async Task CreateColor()
    {
        await _client.PostAsJsonAsync(Endpoints.ColorsEndpoint, color);
        _navManager.NavigateTo("/colors/");
    }

}