@page "/colors/view/{id:int}"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent color="color" Disabled="true"/>

@code {
    [Parameter] public int id { get; set; }
    Color color = new Color();

    protected async override Task OnParametersSetAsync()
    {
        color = await _client.GetFromJsonAsync<Color>($"{Endpoints.ColorsEndpoint}{id}");
    }
}
