@page "/brands/create/"


<h3 class="card-title">Create New Brand</h3>
<hr />
<br />

<FormComponent ButtonText="Create Brand" brand="brand"
               OnValidSubmit="@CreateBrand" />

@code {
    

}