@page "/vehicles/view/{id:int}"

<h3>View</h3>

<img class="img-thumbnail" src="@vehicle.ImageName" style="height:150px; width:150px" />

<FormComponent vehicle="vehicle" Disabled="true" />

@code {

}
